@*  Authors & Student Number:
    Mayank Raval 200300508
    Date Modified: 08-18-2016
    Version 0.1
    File Description: This is about page.
*@
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
