@*  Authors & Student Number:
    Mayank Raval 200300508
    Date Modified: 08-18-2016
    Version 0.1
    File Description: This is Contact page.
*@
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1 Georgian Drive<br />
    Barrie ON<br />
    <abbr title="Phone">P:</abbr>
    705.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@mayankraval.me</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@mayankraval.me</a>
</address>