@*  Authors & Student Number:
    Mayank Raval 200300508
    Date Modified: 08-18-2016
    Version 0.1
    File Description: This is the Artist list page.
*@

@model IEnumerable<COMP2006_S2016_FinalExamV2.Models.Artist>

@{
    ViewBag.Title = "Index";
}

<h2>List of Artists</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
    </tr>
}

</table>
